.main{
  padding: 5px;
  background-color: #fe9a8d;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 50px;
  >p{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .title{
    font-weight: bold;
    font-size: 20px;
  }
  .id{
    border: 2px solid #333;
    width: 30px;
    height: 30px;
    justify-content: center;
    font-weight: 700;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.12);
  }
  .name{

  }
  .cost{

  }
  .address{

  }
  .date{

  }
  .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  input{
    border: 2px solid teal;
    padding: 1px 5px;
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.15);
    font-size: 18px;
    width: 100%;
  }
}
